<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/celebrities/all-celebrities">All Celebrities</a>
      <a href="/celebrities/add-celebrity">Add Celebrity</a>
      <a href="/movies/all-movies">All Movies</a>
      <a href="/movies/add-movie">Add Movie</a>
    </nav>
    {{{body}}}
  </body>
</html>
