<h1>Add Movie</h1>

<form action="/movies/add-movie" method="POST">
  <label> Title:
    <input type="text" name="title" />
  </label>
  <br>

  <label> Genre:
    <input type="text" name="genre" />
  </label>
  <br>

  <label> Plot:
    <textarea type="text" name="plot"> </textarea>
  </label>
  <br>

  <label > Cast:
    <select name="cast" multiple>
      <option disable selected value=""></option>
      {{#each celebrities}}
        <option value="{{_id}}"> {{name}} </option>
      {{/each}}
    </select>
  </label>
  <br>

  <button type="submit"> Add Movie </button>
  
</form>